.nosotros{
    /**background-image: url("imagenesfooter/decoracionlarga.png");
    background-repeat: no-repeat;
    background-position: top right;**/
    width: 98%;
    margin: auto;
    /*Esto es para que los patrones de decoración y la columna central queden en una misma línea*/
    display: flex;
    justify-content: space-between;
    height: 210vh;
    background-color: #FFFFFF;
    ;
}


/*Imágenes de decoración a los costados*/


/*Formato de las cajas que contienen las imágenes de los costados*/

.decoracion_nosotros {
    overflow: hidden;
}


/*Formato de imágenes*/

/*Patrón izquierdo position:fixed*/


/*
#nosotros-patronizquierdo {
    position: fixed;
    top: 0;
    z-index: -1;
    left: 0;
}
*/


/*Patrón derecho position:fixed*/


/*
#nosotros-patronderecho {
    position: fixed;
    top: 0;
    z-index: -1;
    right: 0;
}
*/


/*****Texto de la página más video*****/


/*Columna central*/

.centro_nosotros {
    display: flex;
    flex-direction: column;
    width: 140vh;
    margin: 2% auto;
}


/*Cuadro de Fotos de nosotros*/

.imgnos {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    justify-content: center;
}


/*Fotos*/

.img_section_nosotros img {
    border: 2px dashed #E6B74F;
    padding: 7px;
}


/*Formato de Títulos*/

.centro_nosotros h1 {
    font-family: "Bebas Neue";
    color: #E6B74F;
    font-size: 50px;
    text-align: left;
    padding: 5vh 10vh
}

.centro_nosotros h2 {
    font-family: "Bebas Neue";
    color: #E6B74F;
    font-size: 35px;
    text-align: left;
    padding: 0 0 7vh 10vh;
}


/*Formato del párrafo*/

.parrafo_nosotros {
    text-align: justify;
    padding: 5vh 10vh 5vh 10vh;
    font-family: Abel;
    font-size: 3vh;
}


/*Video de youtube nostros*/

.video_nosotros {
    text-align: center;
    margin: 5vh auto;
}