/**********************Pie Página******************/

.pie_pagina {
  font-family: "Anek Devanagari", sans-serif;
  color: #f5f5f5;
  width: 100%;
  background-color: #9c1b1c;
}

/*Parte de arriba del footer, donde van los atajos*/

.pie_pagina .grupo_1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-gap: 1vh;
}

/*Cajas del footer*/

.box_footer {
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  margin: 2vh;
}
.icons_footer {
  margin: 15px;
}
.redes_sociales {
  display: flex;
}

.redes_sociales > * {
  padding-right: 20px;
}

.segundacolumna {
  gap: 2vh;
}

.links_footer_container {
  padding-right: 7px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.links_footer_container h2 {
  font-size: 20px;
}
.links_footer_container div {
  padding: 20px 40px;
}
.text_link {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 12px;
}
.link_menu > * {
  padding-bottom: 20px;
}
.link_productos > * {
  padding-bottom: 20px;
}
.link_reservas > * {
  padding-bottom: 20px;
}

/* #terceracolumna {
  display: flex;
  align-items: center;
} */
.linksfooter > * {
  padding-top: 15px;
}
.links_maps > * {
  padding: 10px;
}

/*Hover para cada botón del pie de página*/

#segundacolumna h3:hover {
  color: #afafaf;
}

.link_map:hover {
  color: #afafaf;
}

.link_waze:hover {
  color: #afafaf;
}

#cuartacolumna p:hover {
  color: #afafaf;
}
.derechos_reservados_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #af4849;
  color: #f5f5f5;
}
