.menuContenedor {
  background-color: rgba(50, 47, 45, 1);
  width: 100%;
  max-height: max-content;
  display: block;
}
.fondoMenu {
  background-image: url("/public/image/decoracionMenu.svg");
  background-repeat: no-repeat;
  background-size: auto;
}
.bannerMenu {
  width: 1920px;
  height: 600px;
  background-image: url("/image/Banner-menu.png");
  background-repeat: no-repeat;
  background-size: cover;
}
