.banner_home_container {
  display: flex;
  width: 100%;
  height: 872px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  background-image: url("/image/BannerRukaWeshakellu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 450px 450px;
}
.banner_home_container h1 {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  padding-bottom: 60px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

/* Recomendacion de la ruka */
.Recomendacion_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Recomendacion_texto {
  text-align: center;
  color: rgba(82, 165, 160, 1);
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  margin-bottom: 60px;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.text_horario {
  margin-top: 100px;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

/* FIN Recomendacion de la ruka */
.vector_home_container {
  width: 100%;
  margin-bottom: 60px;
  height: auto;
}
.vector_up {
  display: flex;
}
/* nosotros primera parte */

.container_nosotros {
  display: flex;
  width: 70%;
  /* height: 800px; */
  margin: auto;
}

.img_nosotros {
  display: flex;
  height: 800px;
  margin-top: 40px;
  margin-bottom: 60px;
  background-color: #e0a522;
  padding: 0 80px;
  align-items: center;
}
.container_img_patron {
  display: flex;
  max-height: max-content;
}
.vector_patron_container {
  width: 60px;
  height: 30px;
  margin-left: 20px;
}

.parrafo_nosotros {
  display: flex;
  margin: 50px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-style: normal;
  width: 100%;
  max-width: 400px;
  color: #ffffff;
}
.content_text_nosotros > * {
  color: #ffffff;
  padding-bottom: 40px;
}

.parrafo_nosotros h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  padding-top: 12px;
  text-align: center;
  margin: 0;
}

.parrafo_nosotros h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.parrafo_nosotros p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 180;
  font-size: 25px;
  text-align: center;
}

.parrafo_nosotros button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
  padding: 0.7em 1.7em; /* aquí se le cambía el tamaño */
  font-weight: bold;
  background: #e08722;
  color: white;
  border: 3px;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}
.label {
  position: relative;
  top: -1px;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
}
.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #b3841b;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button_nosotros:hover .transition {
  width: 14em;
  height: 14em;
}

.button_nosotros:active {
  transform: scale(0.97);
}
/*********Contacto*************/

.main hr {
  border: 3px dashed;
  width: 80%;
  margin: auto;
  color: #e08722;
}
.contacto {
  display: flex;
  width: 100%;
  height: 648px;
  margin-top: 40px;
  margin-bottom: 40px;

  /* ----------------------- */
  /*  height: 100vh;
  min-height: 100vh;
  /*Letra para toda la sección
  font-family: "Bebas Neue";
  width: 1500px;
  max-width: 100%;
  margin: auto;
  color: #e6b54a;
  /*Para que los patrones y la columna central queden en la misma línea
  display: flex;
  justify-content: space-between;
  /*Para que los patrones de los costados se escondan
  overflow: hidden;
  /*background-color: #ffffff;*/
}
.fondo_contacto {
  background-image: url("/image/fondo_hojas_redumensionada.jpg");
  background-repeat: no repeat;
  background-size: cover;
  width: 100%;
  height: 648px;
}
/*Contacto y Ubicación, datos de la columna central*/

/* .contacto .columna_contacto {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 5px;
  height: 98%;
  width: 70%;
}

/*Parte de arriba de la columna, imagen de araña más títulos

#columnaarriba {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 30vh;
  margin: 2% auto 2% auto;
}
*/
/*Caja de imagen de araña

.imagen_contacto {
  text-align: center;
}
*/
/*Caja que contiene los títulos

.titulos_contacto {
  text-align: center;
  margin: 10% auto;
}
*/
/*Fuente de títulos

.titulos_contacto h1 {
  font-size: 6vh;
}
*/
/*Este componente es de datos cliente y mapa

.datoscliente_ubicacion {
  display: flex;
  flex-direction: row;
  width: 140vh;
  max-width: 100%;
  margin: 5% auto;
}
*/
/*Datos cliente

#datoscliente {
  width: 100%;
  text-align: center;
  align-self: center;
}
*/
/*Fuente h1 dentro de datos cliente

.contacto .columna_contacto .datoscliente_ubicacion #datoscliente h1 {
  font-size: 4vh;
  line-height: 7vh;
}
*/
/*Fuente h3 dentro de datos cliente

.contacto .columna_contacto .datoscliente_ubicacion #datoscliente h3 {
  font-size: 2.5vh;
  line-height: 3vh;
  color: rgba(73, 70, 68, 1);
}
*/
/*Fuente de enlaces tipo "a" dentro de datos cliente

.contacto .columna_contacto .datoscliente_ubicacion #datoscliente a {
  font-size: 2.5vh;
  color: rgba(73, 70, 68, 1);
  text-decoration: none;
}
*/
/*Fuente de Hover de enlaces tipo "a" dentro de datos cliente

.contacto .columna_contacto .datoscliente_ubicacion #datoscliente a:hover {
  color: #52a5a0;
  text-decoration: none;
}
*/
.mapa_contacto {
  display: flex;
  padding: 3%;
  padding: 7px;
  width: 500px;
  justify-self: right;
}
