.banner_home_container {
  display: flex;
  width: 100%;
  height: 872px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  background-image: url("/image/BannerRukaWeshakellu.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 450px 450px;
}
.banner_home_container h1 {
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  padding-bottom: 60px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* min-height: 100vh; */
}

/* Recomendacion de la ruka */
.Recomendacion_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Recomendacion_texto {
  text-align: center;
  color: rgba(82, 165, 160, 1);
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
  margin-bottom: 60px;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.text_horario {
  margin-top: 100px;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

/* FIN Recomendacion de la ruka */
.vector_home_container {
  width: 100%;
  margin-bottom: 60px;
  height: auto;
}
.vector_up {
  display: flex;
}
/* nosotros primera parte */

.container_nosotros {
  display: flex;
  width: 70%;
  /* height: 800px; */
  margin: auto;
}

.img_nosotros {
  display: flex;
  height: 800px;
  margin-top: 40px;
  margin-bottom: 60px;
  background-color: #e0a522;
  padding: 0 80px;
  align-items: center;
}
.container_img_patron {
  display: flex;
  max-height: max-content;
}
.vector_patron_container {
  width: 60px;
  height: 30px;
  margin-left: 20px;
}

.parrafo_nosotros {
  display: flex;
  margin: 50px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-style: normal;
  width: 100%;
  max-width: 400px;
  color: #ffffff;
}
.content_text_nosotros > * {
  color: #ffffff;
  padding-bottom: 40px;
}

.parrafo_nosotros h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  padding-top: 12px;
  text-align: center;
  margin: 0;
}

.parrafo_nosotros h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.parrafo_nosotros p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 180;
  font-size: 25px;
  text-align: center;
}

.parrafo_nosotros button {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
  padding: 0.7em 1.7em; /* aquí se le cambía el tamaño */
  font-weight: bold;
  background: #e08722;
  color: white;
  border: 3px;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}
.label {
  position: relative;
  top: -1px;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
}
.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #b3841b;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button_nosotros:hover .transition {
  width: 14em;
  height: 14em;
}

.button_nosotros:active {
  transform: scale(0.97);
}
/*********Contacto*************/

.main hr {
  border: 3px dashed;
  width: 80%;
  margin: auto;
  color: #e08722;
}
.contacto {
  display: flex;
  width: 100%;
  height: 648px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.fondo_contacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("/image/fondo_hojas_secas.jpg");
  background-size: cover;
  width: 100%;
}
.simboarana {
  user-select: none;
}
.info_contacto_container {
  display: flex;
  width: 600px;
  flex-direction: column;
  align-items: center;
}
.info_contacto_container > * {
  padding-bottom: 20px;
  color: #f5f5f5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.info_contacto_container h1 {
  font-size: 30px;
  user-select: none;
}

.info_contacto_container h3 {
  font-size: 23px;
  user-select: none;
}
.mapa_info_container h1 {
  color: #f5f5f5;
  padding-bottom: 20px;
  user-select: none;
  font-size: 30px;
}

.mapa_info_container h5 {
  color: #f5f5f5;
  padding-bottom: 20px;
  user-select: none;
  font-size: 17px;
}
.mapa_info_container {
  width: 800px;
}
.mapa_contacto_container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 600px;
}
.mapa_contacto {
  width: 700px;
  height: 400px;
  border: 0;
}
